*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(245, 245, 245);
}

#header{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: white;
    padding: 15px;
    border-radius: 25px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px 1px rgba(145, 145, 145, 0.627);
}

#account{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-login{
    padding: 9px;
    margin: 3px;
    border-radius: 25px;
    background-color: rgba(168, 129, 104, 0.758);
}
.sign-login a {
    text-decoration:none;
    color: black;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
    width: 50vw;
    background-color: white;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 1px rgba(145, 145, 145, 0.627);

    font-size: 1.3rem;
}
form > h2{
    text-align: center;
    margin-bottom: 15px;
}
input{
    font-size: 1.5rem;
    margin-top: 8px;
    margin-bottom: 10px;
    padding: 8px;
    text-align: center;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 10px 1px rgba(145, 145, 145, 0.627);
}
.btn{
    margin-top: 50px;
    width: 50%;
    font-size: 1.1rem;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(168, 129, 104, 0.758);
}
